/* @override 
	http://id.arduino.cc/css/WF-003562-000476.css */

@font-face {
	font-family: "TyponineSans Regular 18";
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000198-1380880813.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000198-1380880813.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000198-1380880813.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000198-1380880813.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
	
@font-face {
	font-family: "TyponineSans Text 16";
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000200-1380880817.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000200-1380880817.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000200-1380880817.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000200-1380880817.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}

@font-face {
	font-family: "TyponineSans Monospace Light 5";
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000218-1380880827.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000218-1380880827.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000218-1380880827.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000218-1380880827.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
	
@font-face {
	font-family: "TyponineSans Monospace Regular 4";
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000220-1380880830.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000220-1380880830.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000220-1380880830.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/eu-west-1-fonts.typonine.com/WF-003562-000476-000220-1380880830.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
